:root {
	--theme-color-high-200: #000;
	--theme-color-high-300: #000;
	--theme-color-high-400: #000;
	--theme-color-high-500: #000;
	--theme-color-high-600: #000;

	--color-microsoft-3: black;
	--color-microsoft-4: white;

	--color-google-1: blue;
	--color-google-2: green;
	--color-google-3: black;
	--color-google-4: white;

	--color-facebook-1: blue;
	--color-facebook-2: green;
	--color-facebook-3: black;
	--color-facebook-4: white;
	--color-facebook-5: red;

	--color-twitter-1: blue;
	--color-twitter-2: green;
	--color-twitter-3: black;
	--color-twitter-4: white;
	--color-twitter-5: red;
	--color-twitter-6: gray;
}
