:root {
	--theme-color-high-200: blue;
	--theme-color-high-300: green;
	--theme-color-high-400: black;
	--theme-color-high-500: white;
	--theme-color-high-600: red;

	--color-microsoft-3: #00A1F1;
	--color-microsoft-4: #FFBB00;

	--color-google-1: #F00;
	--color-google-2: #0F0;
	--color-google-3: #00F;
	--color-google-4: #FFF;

	--color-facebook-1: #000;
	--color-facebook-2: #001;
	--color-facebook-3: #010;
	--color-facebook-4: #100;
	--color-facebook-5: #111;

	--color-twitter-1: #000;
	--color-twitter-2: #001;
	--color-twitter-3: #010;
	--color-twitter-4: #100;
	--color-twitter-5: #111;
	--color-twitter-6: #011;
}
